.input{
   padding: 24px 12px 8px;
   background-color: #2d2e34;
   position: relative;
   border-radius: .3rem;
   margin-bottom: 1rem;
}
.input__input{
   background: transparent;
   width: 100%;
   border: none;
   outline: none;
   outline-width: 0;
   color: white;
   font-size: 1rem;
   position: relative;
   z-index: 3;
}

.input__label{
   font-size: 1rem;
   color: rgba(255, 255, 255, 0.585);
   position: absolute;
   left: 1rem;
   transition: .3s;
   z-index: 2;
}
.input__input:focus + .input__label, .input__input:not(:placeholder-shown) + .input__label{
   color: rgba(255, 255, 255, 0.243);
   font-size: 12px;
   transform: translateY(-20px);
}