.app{
   display: flex;
    grid-gap: 2rem;
    gap: 2rem;
    color: #dcdde1;
    align-items: baseline;
    height: 100%;
    padding: 2rem;
    max-width: 120ch;
    margin: auto;
}
.form-side{
   flex-basis: 30%;
   padding: 0 .5rem;
   margin-bottom: 1.5rem;
}
.modal{
   position: relative;
   width: 500px;
   height: 500px;
   margin: auto;

}

@media screen and (max-width: 1200px){
   .app{
      flex-direction: column-reverse;
   }
   .form-side{
      width: 100%;
   }

   
}
@media screen and (max-width: 378px){
   .app{
      padding: 1rem;
   }
   
}
@media screen and (max-width: 520px){
   .modal{
      width: 100%;
   }
}

.wrapper{
display: grid;
grid-template-columns: 1fr min(99ch, 100%) 1fr;
}
.wrapper > *{
grid-column: 2;
}
.full-bleed {
width:100%;
grid-column: 1 / 4;
}